:root {
  --color-white: #F6F7F9;
  --color-black: #000000;
  --color-green: #01B341;
  --color-yellow: #FFD900;
  --color-blue: #0175DA;
  --color-red: #EB3301;
  --color-purple: #753BF2;
  --color-orange: #FF7B04;
  --color-cyan: #01B39B;
  --color-light-yellow: #E8FF01;
  --color-pink: #F3387F;
  --color-taupe: #A6887E;

  --surface-background: var(--color-black);
  --surface-primary: var(--color-light-yellow);
  --surface-selection: rgb(from var(--surface-primary) r g b / 50%);
  --surface-gradient-background-top: linear-gradient(to top, var(--surface-background), transparent);
  --surface-gradient-background-bottom: linear-gradient(to bottom, var(--surface-background), transparent);
  --surface-light: rgb(from var(--color-white) r g b / 60%);
  --surface-light-secondary: rgb(from var(--color-white) r g b / 40%);
  --surface-light-tertiary-highlighted: rgb(from var(--color-white) r g b / 15%);
  --surface-light-tertiary: rgb(from var(--color-white) r g b / 10%);
  --surface-dark: rgb(from var(--color-black) r g b / 60%);
  --surface-dark-secondary: rgb(from var(--color-black) r g b / 40%);
  --surface-dark-tertiary: rgb(from var(--color-black) r g b / 10%);

  --text-light: var(--color-white);
  --text-light-secondary: rgb(from var(--color-white) r g b / 50%);
  --text-light-secondary-highlighted: rgb(from var(--color-white) r g b / 70%);
  --text-dark: var(--color-black);
  --text-dark-secondary: rgb(from var(--color-black) r g b / 50%);
  --text-dark-secondary-highlighted: rgb(from var(--color-black) r g b / 70%);

  --border-light: rgb(from var(--color-white) r g b / 10%);
  --border-dark: rgb(from var(--color-black) r g b / 10%);

  --font-body: 'Funnel Sans', sans-serif;

  --typography-title: 700 40px var( --font-body);
  --typography-body: 500 1rem var(--font-body);

  font-size: 16px;
}

@keyframes transition {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1) translateY(-100vh);
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--surface-selection);
}

body {
  margin: 0;
  padding: 0;
  background: var(--surface-background);
  color: var(--text-light);
  font: var(--typography-body);

  &.transition {
    & > .body_transition > span {
      animation-name: transition;
    }
  }
}

.body_transition {
  position: fixed;
  inset: 0;
  z-index: 1000000;
  pointer-events: none;

  & > span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    animation-duration: .8s;
    animation-timing-function: cubic-bezier(.5,0,.3,1);
  }

  & > span:nth-child(1) {
    background-color: var(--color-yellow);
    animation-delay: .1s;
    height: 100vh;
  }

  & > span:nth-child(2) {
    background-color: var(--color-orange);
    animation-delay: .15s;
    height: 75vh;
  }

  & > span:nth-child(3) {
    background-color: var(--color-pink);
    animation-delay: .2s;
    height: 50vh;
  }

  & > span:nth-child(4) {
    background-color: var(--color-purple);
    animation-delay: .25s;
    height: 25vh;
  }
}

a, a:visited, a:hover, a:active {
  color: inherit;
}
